<h1>Final Guess</h1>
<% if win == "" %>
	<form method='get'>
		Enter your last guess (and hit Return):<br />
		<input type="text" name="final_guess"/>
	</form>
<% elsif win %>
	<img src="img/<%= game.guesses %>.png" alt="Hangman" width="200" height="150">
	<p>Word: <%= game.word.join('') %></p>
	<p>You've Won!</p>
	<p><a href= "/">Return</a></p>
<% else %>
	<img src="img/<%= game.guesses %>.png" alt="Hangman" width="200" height="150">
	<p>Word: <%= game.word.join('') %></p>
	<p>You've Lost!</p>
	<p><a href= "/">Return</a></p>
<% end %>